* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.mainContainer1 {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
